{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<!-- Display the login -->
<section id="login" aria-labelledby="to-log-in">
    <div class="container col-12 col-lg-6 my-4">
        <h3 id="list__bigtitle" class="display-4">Se connecter</h3>
        <form method="post" novalidate>
            {% if error %}
            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
            <div class="login__color mb-3">
                Bienvenue {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}" role="button" aria-label="Bouton pour se déconnecter">Déconnexion</a>
            </div>
            {% endif %}

            <h2 class="h3 mb-3 font-weight-normal login__color">Veuillez vous connecter</h2>
            <div class="col-8">
                <label for="inputEmail" class="login__color">Adresse mail</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3"
                    autocomplete="email" required autofocus>
                <label for="inputPassword" class="login__color">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-3"
                    autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="checkbox mt-3 mb-3">
                <label class="login__color">
                    <input type="checkbox" name="_remember_me" role="button" aria-label="Bouton pour mémoriser sa connexion"> Se souvenir de moi</label>
            </div>
            <button class="btn login__btn" type="submit" aria-label="Bouton pour se connecter">Connexion</button>
        </form>
        <h2 class="h3 mt-5 mb-3 font-weight-normal login__color">Je n'ai pas de compte</h2>
        <button class="btn login__btn" onclick="window.location.href='{{ path('app_register') }}'" aria-label="Bouton pour se créer un compte">Créer un compte</button>
    </div>
</section>
{% endblock %}