{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}
<!-- Add a comment-->
<section id="add-review" aria-labelledby="review">
    <div class="d-flex justify-content-end m-3 mb-0">
        <a href="{{ path ('app_front_expedition_show', {id: expedition.id}) }}" class="btn show__btn__back" role="button" aria-label="Bouton de retour à l'expédition"> 
        <i class="bi bi-arrow-left-circle"></i> Retour </a>
    </div>
    <div class="show__comment__container col-12 d-flex justify-content-center align-items-center flex-column p-5 mb-5">
    <h2 class="show__title__comment show__comment__font mb-4">Partager votre expérience sur {{ expedition.destination }}</h2>
        {{form_start(form)}}

        {{form_rest(form)}}
            <button class="btn show__comment__btn mt-4" type="submit" aria-label="Bouton pour ajouter un commentaire">Ajouter un commentaire</button>
        {{form_end(form)}}
    </div>
</section>
{% endblock %}