{% extends 'back/backoffice.html.twig' %}

{% block title %}
	Backoffice - Expéditions
{% endblock %}

{% block body %}
<!-- Display the list of expeditions-->
<section id="list-expedition" aria-labelledby="list-expedition-complete">
	<div class="container my-4">
		<h3 class="display-4 ms-3 page__title"> Expéditions </h3>
		<a class="btn add__items ms-3" href="{{ path('app_admin_expedition_create') }}" role="button" aria-label="Bouton pour ajouter une expédition">
			Ajouter une expédition
		</a>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success col-md-12 m-3" role="alert">
				{{ message }}
			</div>
		{% endfor %}

		<div class="row mt-3">
			<!--EXPEDITION-->
			<div class="col-12 ms-3">
				<div class="card table__text mb-3">
					<div class="card-header table__bg">
						<caption>Liste des expéditions</caption>
					</div>
					<div class="card-body">
						<table role="presentation" class="table table-hover">
							<thead class="text-center table__header">
								<tr>
									<th scope="col">
										#
									</th>
									<th scope="col">
										Titre
									</th>
									<th scope="col">
										Départ
									</th>
									<th scope="col">
										Durée
									</th>
									<th scope="col">
										Passagers max.
									</th>
									<th scope="col">
										Voir/Modifier/Supprimer
									</th>
								</tr>
							</thead>
							<tbody>
								{% for currentExpedition in expeditionList %}
									<tr class="text-center">
										<th scope="row">
											{{ currentExpedition.id }}
										</th>
										<td>
											{{ currentExpedition.title }}
										</td>
										<td>
											{{ currentExpedition.departure|date('d-m-Y') }}
										</td>
										<td>
											{{ currentExpedition.duration }}
										</td>
										<td>
											{{ currentExpedition.passenger }}
										</td>
										<td>
											<a href="{{ path('app_admin_expedition_show', {id: currentExpedition.id}) }}" class="btn btn-sm show__btn" role="button" aria-label="Bouton pour afficher l'expédition choisie">
												<i class="bi bi-eye" aria-hidden="true"></i>
											</a>
											<a href="{{ path('app_admin_expedition_update', {id: currentExpedition.id}) }}" class="btn btn-sm  update__btn" role="button" aria-label="Bouton pour modifier l'expédition choisie">
												<i class="bi bi-pencil-square" aria-hidden="true"></i>
											</a>
											<!-- Example single danger button -->
											<div class="btn-group">
												<form method="post" action="{{ path('app_admin_expedition_delete', {'id': currentExpedition.id}) }}" onsubmit="return confirm('De vouloir supprimer cette expédition, êtes-vous bien certain ?');">
													<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ currentExpedition.id) }}">
													<button type="submit" class="btn btn-sm delete__btn" aria-label="Bouton pour supprimer l'expédition choisie">
														<i class="bi bi-trash" aria-hidden="true"></i>
													</button>
												</form>
											</div>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}