{% extends 'back/backoffice.html.twig' %}

{% block title %}Réservation n° {{ bookingShow.id }}{% endblock %}

{% block body %}
<!-- Show a page for a booking-->
<section id="show-booking-{{ bookingShow.id }}" aria-labelledby="show-one-booking">
    <div class="container my-4 col-8">
        <h3 class="page__title">Réservation n° {{ bookingShow.id }} de {{ bookingShow.user.pseudo }}</h3>
        <a class="btn return__btn mt-3" href="{{ path('app_admin_booking_list') }}" role="button" aria-label="Retour à la liste des réservations">Retour à la liste</a>

        <table role="presentation" class="table mt-3">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ bookingShow.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Prénom</th>
                    <td>{{ bookingShow.user.firstname }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ bookingShow.user.lastname }}</td>
                </tr>
                <tr>
                    <th scope="row">Mail</th>
                    <td>{{ bookingShow.user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Destination</th>
                    <td>{{ bookingShow.expedition.title }}</td>
                </tr>
                <tr>
                    <th scope="row">Statut de la réservation</th>
                    <td>
                        {% if bookingShow.bookingstatus == 1 %}
                            En attente
                        {% elseif bookingShow.bookingstatus == 2 %}
                            Validée
                        {% elseif bookingShow.bookingstatus == 3 %}
                            Annulée
                        {% else %}
                            Reportée
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Crée le</th>
                    <td>{{ bookingShow.createdAt ? bookingShow.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">Modifiée le</th>
                    <td>{{ bookingShow.updatedAt ? bookingShow.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex gap-3">
            <a class="btn update__btn" href="{{ path('app_admin_booking_update', {'id': bookingShow.id}) }}" role="button" aria-label="Bouton pour modifier la réservation">Modifier</a>
            {{ include('back/booking/_delete_form.html.twig') }}
        </div>
    </div>
</section>
{% endblock %}