{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
<!-- Display the form to contact us -->
<section id="contact" aria-labelledby="contact-form" class="misc__wrapper">
    <h2 class="mt-3">Contactez-nous</h2>
    <div class="container-fluid px-5 mb-3 text-center col-12 col-lg-6">
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12 col-lg-6">
                {{ form_row(form.lastname, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="col-12 col-lg-6">
                {{ form_row(form.firstname, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        {{ form_row(form.subject, {'attr': {'class': 'form-control text-center'}}) }}
        {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
        <a href="{{ path('app_home') }}" class="btn button mt-auto" aria-label="Bouton pour afficher la page d'accueil">Retour</a>
        <button type="submit" class="btn modal__btn" aria-label="Bouton pour envoyer le message de l'utilisateur">Envoyer</button>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}