{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
<!-- Display the news for ONE news -->
<section id="news" aria-labelledby="news-title" class="misc__wrapper">
	<div class="container mt-5">
		<div class="card border-0 mb-4">
			<div class="card-body d-flex flex-column">
				<h5 class="card-title p-2 new__title">{{ article.title }}</h5>
				<img src="{{ article.picture }}" class="img-fluid rounded-circle news-img" alt="...">
					<p>{{ article.text }}</p>
				<p class="card-text">
					<small class="text-muted">{{ article.createdAt|date('d F Y') }}</small>
				</p>
			<a href="{{ path('app_front_news_list') }}" class="btn new__button d-block mx-5" role="button" aria-label="Bouton pour retourner sur la liste des actualités">Retour à la liste des articles</a>
		</div>
		</div>
	</div>
</section>
{% endblock %}