{% extends 'base.html.twig' %}

{% block title %}Nos expéditions{% endblock %}

{% block body %}
<!-- Display the list of expeditions-->
<section id="expedition-list" aria-labelledby="list__bigtitle">

    <!-- Flash Messages -->

    {% for message in app.flashes('favorite success') %}
            <div class="alert alert-success d-flex align-items-center justify-content-center m-3" role="alert">
                {{ message }}
            </div>
    {% endfor %}
    {% for message in app.flashes('favorite warning') %}
            <div class="alert alert-danger d-flex align-items-center justify-content-center m-3" role="alert">
                {{ message }}
            </div>
    {% endfor %}

    <!-- End Flash Messages -->

    <h2 id="list__bigtitle" class="m-3 mb-5 p-2 ms-5 text-center"> Nos expéditions </h2>
            
    <div class="row d-flex justify-content-evenly align-items-center">
        <!-- EXPEDITION LIST -->
        {% for expedition in expeditionList %}
        <div id="list__wrapper" class="card mb-3 ms-2 col-xl-6 col-sm-12" style="max-width: 840px;">
            <div class="row flex-column flex-lg-row d-flex align-items-center">
                <div class="col-7 col-lg-4">
                    <img id="list__image" src="{{ expedition.picture }}" class="img-fluid rounded-circle mx-auto d-block" alt="Paysage de {{ expedition.destination }}">
                </div>
                <div class="col-12 col-lg-8">
                    <div class="card-body">
                        <h5 id="list__title" class="card-title mb-3">{{ expedition.destination }}
                        {% include('front/partials/_favorite_button.html.twig') %}</h5>
                        <div class="text ellipsis">
                            <p class="card-text list__text custom-truncate_text text-concat">{{ expedition.description }}</p>
                        </div>
                            <a href="{{ path ('app_front_expedition_show', {id:expedition.id}) }}" class="btn list__btn mt-5" role="button" aria-label="Bouton pour afficher le détail de l'expédition">En savoir plus </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}